{% extends "layout.html" %}

{% block content %}
  <h1>Frequently Asked Questions</h1>
  <hr>
  <div class="faq">
    <h2>Q: What is this service about?</h2>
    <p>A: This service is designed to store information about partners for our school.</p>
  </div>

  <div class="faq">
    <h2>Q: How do I get started?</h2>
    <p>A: To get started, follow these steps, click "Sign Up" and create an account. Then, use your email and password to login.</p>
  </div>

  <div class="faq">
    <h2>Q: What are accounts used for?</h2>
    <p>A: Each account has the ability to store its own partners. One account may view the partners of others, but may not modify them.</p>
  </div>


{% endblock %}