{% extends "layout.html" %}

{% block content %}
  <h1>Frequently Asked Questions</h1>
  <hr>
  <div class="faq">
    <h2>Q: How to get started?</h2>
    <p>A: Click on the partners tab on the navigation bar. From there you will see a page with your partners.</p>
  </div>

  <div class="faq">
    <h2>Q: Why do some partners not have any action features?</h2>
    <p>A: This is because some partners were not created by you, but other users. You may not modify those, but you can view them by clicking on the partner.</p>
  </div>

  <div class="faq">
    <h2>Q: How do the search filters and search bar work?</h2>
    <p>A: The checkboxes will take filter based on the Type of partner. This field can be only "Business" or "Community." The search bar will filter using a type ahead filter based on the Partner Name. As you type in the bar, the partners will filter on your screen.</p>
  </div>

  <div class="faq">
    <h2>Q: What does the "Generate Report" button do?</h2>
    <p>A: This button allows you to download a report of your partners. When the button is clicked you are redirected to a preview page with all the partners that were visible on your screen just before you were redirected.</p>
  </div>

  <div class="faq">
    <h2>Q: How to fill out the partner form?</h2>
    <p>A: Remember that not all fields are required. The following fields are required: Partner Name, Partner Type, Resources, and Payment Plan, and Responsibilities. Remember that this storage is for you, be descriptive and be free!</p>
  </div>

  <div class="faq">
    <h2>Learn about Notifications</h2>
    <p>Take advantage of notifications by reminding yourself when    a payment is due, you have some responsibilities for an event, or any other custom reminder. Go to the view page of a partner by clicking on the partner name. Then, click create notification! It's as simple as that.</p>
  </div>


{% endblock %}