body {
  background: #f0f0f0;
  color: #333333;
  margin-top: 4rem;
  padding-left: 5px;
  padding-top: 60px; /* Adjust this value according to the height of your fixed navbar */
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #006400;
}

.nav-link {
  color: white !important;  /* Use !important to override any default styles */
}

.site-header .navbar-nav .nav-link:hover {
  color: #87cefa;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}




.notification-item {
  display: flex; /* Allow horizontal layout for partner name and message */
  padding: 10px; /* Adjust padding as needed */
  border-bottom: 1px solid #ddd; /* Add a dividing line between notifications */
  cursor: pointer; /* Indicate clickable area */
}

.notification-item.read {  /* Style for read notifications */
  background-color: #eee; /* Lighten background for visual distinction */
}

.notification-item a {  /* Style text within notification */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Adjust text color as needed */
}

.notification-item .partner-name {  /* Assuming a class for partner name */
  flex: 1; /* Allow partner name to occupy most of the space */
  font-weight: bold; /* Make partner name bold */
}

.notification-item .message {  /* Assuming a class for message */
  flex: 2; /* Allow message to occupy more space */
  font-size: 0.9em; /* Adjust message font size */
  color: #666; /* Make message slightly greyed out */
}


